@using Microsoft.AspNetCore.Authentication

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to MvcClient</h1>
    @if (User.Claims.Count() > 0)
    {
        <p>Please use navbar above to navigate around the website.</p>
    }
    else
    {
        <p>You need to login to use full features of MvcClient.</p>
        <a asp-area="" asp-controller="Home" asp-action="Login" class="btn btn-primary">Login</a>
    }
</div>